body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif!important;
}
html {
	overflow-x: hidden;
}

#fh5co-logo {
	margin: 30px 0;
}
#fh5co-logo a, .sf-menu a, .fh5co-cover .desc h2, .fh5co-cover .desc span, .sf-menu li.active a {
	color: #000000;
}

figure ul {
	padding: 0;
}

figure img {
	max-width: 100%;
}

#fh5co-logo img {
	margin-top: -5px;
}

#fh5co-blog-section {
	padding: 4em 0 1em;
}

#fh5co-blog-section .heading-section {
	margin-bottom: 3em;
	position: relative;
}

#fh5co-page {
	background: #fafafa;
}
.fh5co-cover .desc {
	top: 45%;
}

#fh5co-blog-section .nav-tabs {
	display: flex;
	justify-content: center;
	border-bottom: 0;
	padding-bottom: 5em
}

.fh5co-blog .blog-text {
	text-align: center;
	box-shadow: none;
	transition: 0.3s all ease-out;
	cursor: pointer;
	padding: 25px 15px;
	/* box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3); */
}

.fh5co-blog .blog-text img {
	transition: 0.3s all ease-out;
	width: 150px;
	margin: 0 auto 20px;
}

.fh5co-blog .blog-text .price-wrap {
	display: flex;
	justify-content: space-between;
}


.fh5co-blog .blog-text .price-wrap span {
	line-height: 22px;
}

.fh5co-blog .blog-text .price {
	color: #03A9F4;
	font-weight: bold;
	font-size: 20px;
}

.fh5co-hero, .fh5co-hero-bg {
	height: 550px;
	background: #03A9F4;
	background:radial-gradient(circle, rgb(255, 255, 255) 0%, #03A9F4 100%, #03A9F4 100%);
}
#offcanvas-menu, .heading-section:after {
	background: #03A9F4;
}

#offcanvas-menu ul li > a {
	color: #fff!important;
}

.fh5co-hero-bg {
	height: 100px;
}

#fh5co-blog-section .nav-tabs li a {
	margin: 0 15px;
}

#fh5co-blog-section .nav-tabs li.active a {
	transform: scale(1.25);
}

 .btn-primary {
	background-color: unset!important;
	color: #fff!important;
	background-image: linear-gradient(90deg, #00BCD4, #0089f5,#00BCD4)!important;
	transition: .3s all;
	border-radius: 30px!important;
	background-size: 200% 100%!important;
	border: none;
}

.tab-content .row {
	display: flex;
	flex-wrap: wrap;
}

@media(min-width: 992px) {
	.btn-primary:hover, .btn-primary:focus {
		background-color: unset!important;
    background-position: 100% 0!important;
	}

	#fh5co-blog-section .nav-tabs li a:hover {
		background-color: unset!important;
		background-position: 100% 0!important;
	}

	.fh5co-blog .blog-text:hover {
		box-shadow: 0px 6px 52px 0px rgba(0,188,212,0.2);
	}

	.fh5co-blog .blog-text:hover .btn-primary{
		background-color: unset!important;
		background-position: 100% 0!important;
	}

	.fh5co-blog .blog-text:hover img {
		transform: scale(1.07);
	}
}

.sf-menu a {
	font-size: 16px;
}

.fh5co-cover {
	height: 550px;
	background: url('../images/bg2.png') center bottom 10px no-repeat;
	background-size: cover;
}

.work img {
	max-width: 100%;
  height: auto;
	box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
}

.animate-box h3 {
	margin: 15px 0 20px;
}

.sidebar h3 {
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 17px;
	margin-bottom: 10px;
}
.sidebar ul, .sidebar li {
	list-style: none;
	color: #5a5a5a;
}

.sidebar ul {
	margin-bottom: 10px;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
}
.sidebar ul li {
	padding: 0 8px;
}
.sidebar >li {
	font-size: 20px;
	padding-bottom: 3px;
  margin-bottom: 5px;
	border-bottom: 1px dotted #c7c7c7;
	font-weight: bold;

}
.sidebar a {
	color: #5a5a5a;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination a {
	font-size: 18px;
	margin: 0 15px;
}

.pagination a.actual {
	padding: 5px 15px!important;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	background:  #00BCD4;
}

#footer {
	background:  #03a9f4;
	padding: 40px 20px 0;
	color: #fff;
}

#footer h3, #footer ul li a, #footer p {
	color: #fff;
}

#footer .fh5co-copyright {
	padding: 20px;
  border-top: 1px solid #fff;
}
#footer p {
	margin-bottom: 0;
}
#footer [class*="col"] {
	padding-bottom: 0;
}

@media(min-width: 992px) {
	.sidebar a:hover {
		color: rgba(255,0,185,1);
	}
}

@media(max-width: 992px) {
	.sidebar ul {
		display: flex;
    flex-wrap: wrap;
	  justify-content: center;
	}

	.sidebar ul li {
		padding: 0 10px;
	}
}

@media(max-width: 450px) {
	#fh5co-logo {
		margin: 16px 0px ;
		text-align: left;
	}
}
